.App {
    @import '_colors.scss'; // Colors
    @import '_fonts.scss';
    @import '_normalize.scss';
    @import '_typography.scss';
    @import '_fx.scss';
    html {
        font-size: 62.5%;
    } // * {
    //     font-family: $font-stack, sans-serif;
    // }
    body {
        font-size: 1.5em;
        /* currently ems cause chrome bug misinterpreting rems on body element */
        line-height: 1.6;
        font-family: $font-stack;
        color: #222;
    }
    .clearType {
        color: $LightText;
    }
    .logo {
        max-width: 120px;
        margin: 1em;
    }
    .navText {
        margin-top: 20px;
        font-size: 20px;
    }
    .container {
        width: 100%;
    }
    .navbar-inverse {
        background: $NavyHeaders;
        border-radius: 0;
        margin-bottom: 0;
        .container {
            width: 100%;
        }
    }
    .elementNav {
        float: left;
        position: relative;
        display: block;
        margin-top: 2rem;
    }
    .navbar {
        li {
            a {
                font-size: 22px;
                margin-top: 1rem;
                color: $LightText !important;
                margin-right: 1em;
                font-weight: 300; // .caret {
                //     width: 10px;
                //     height: 10px;
                //     border: none;
                //     font-family: 'Font Awesome\ 5 Free' !important ;
                // }
                // .caret:before {
                //     content: "\f106";
                // }
            }
        }
    }
    .onoffswitch {
        position: relative;
        width: 72px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
    }
    .onoffswitch-checkbox {
        display: none;
        transition: margin 0.3s ease-in 0s;
    }
    .onoffswitch-label {
        display: block;
        overflow: hidden;
        cursor: pointer;
        height: 30px;
        padding: 0;
        line-height: 30px;
        border: 2px solid $DarkNavy;
        border-radius: 30px;
        background-color: $DarkNavy;
        transition: background-color 0.3s ease-in;
        position: relative;
    }
    .onoffswitch-label:before {
        content: "\F111";
        display: block;
        width: 24px;
        margin: 0px;
        color: $LightText;
        background: $DarkNavy;
        font-family: 'Font Awesome 5 Free';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 38px;
        border: 2px solid $LightText;
        border-radius: 30px;
        -webkit-transition: all 0.3s ease-in 0s;
        -o-transition: all 0.3s ease-in 0s;
        transition: all 0.3s ease-in 0s;
        margin: 2px;
        line-height: 18.8px;
        font-size: 16px;
    }
    .onoffswitch-checkbox:checked+.onoffswitch-label {
        background-color: $DarkNavy;
    }
    .onoffswitch-checkbox:checked+.onoffswitch-label:before {
        right: 0px;
    }
    .onoffswitch-inner:before {
        content: "\f186";
        font-family: 'Font Awesome\ 5 Free';
        padding-left: 10px;
        float: left;
        background-color: $DarkNavy;
        color: $LightText;
    }
    .headline-stats {
        background: $BackgroundNavy;
        min-height: 50px;
    }
    .sidebar {
        border-top: 1px $LightText solid;
        background: $SidebarBackground;
        min-height: calc(100vh - 110px);
        border: 1px red solid;
    }
    .trade-container {
        border-top: 1px $LightText solid;
        background: $SidebarBackground;
        min-height: calc(100vh - 110px);
        display: inline;
        float: left;
        width: 72%;
        border: 1px yellow solid;
    }
    .vertical-tab {

    } // Paddings
    .vertical-tab:focus {
        background: $DarkNavy;
    }
    .tab-chevron {
        font-size: 14px;
        padding-top: 1em;
        padding-bottom: 2em;
    }
    .tab-container {
        float: left;
        border: 1px purple solid;
        background-color: $DarkNavy;
        border-top: 1px $LightText solid;
        min-height: calc(100vh - 110px);
        width: 3%;
        background: $NavyHeaders;
        padding-top: 2em;
        // min-width: 50px;
    }
    .tab-container:focus {
        float: left;
        border: 1px purple solid;
        background-color: $DarkNavy;
        border-top: 1px $LightText solid;
        min-height: calc(100vh - 110px);
        width: 3%;
        background: red;
        padding-top: 2em;
        // min-width: 50px;
    }

    .show-grid.row {
        // margin-right: -32px;
        // margin-left: -15px;
    }
    .clickable {
        cursor: pointer;
    }
    .chart{
        border: 1px green solid;

    }
    .chart-{
        border: 1px blueviolet solid;

    }
    .no-padding{
        margin: 0;
    }
}

